<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Release version of TC DCE 2.6 ToNxlFile component - builds code from:&#xd;
&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;- repo: https://bitbucket.org/nxtlbs-devops/teamcenterdce&#xd;
&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;- branch: origin/release/TeamcenterDRM_2.6</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <createdBy>lkrishnan</createdBy>
  <creationTime>1479354951196</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:tchen</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <RemoteConfig>
        <name>origin</name>
        <uris>
          <org.eclipse.jgit.transport.URIish>
            <path>nxtlbs-devops/teamcenterdce.git</path>
            <user>git</user>
            <port>-1</port>
            <host>bitbucket.org</host>
          </org.eclipse.jgit.transport.URIish>
        </uris>
        <pushURIs/>
        <fetch>
          <org.eclipse.jgit.transport.RefSpec>
            <force>true</force>
            <wildcard>true</wildcard>
            <srcName>refs/heads/*</srcName>
            <dstName>refs/remotes/origin/*</dstName>
          </org.eclipse.jgit.transport.RefSpec>
        </fetch>
        <push/>
        <uploadpack>git-upload-pack</uploadpack>
        <receivepack>git-receive-pack</receivepack>
        <tagopt>AUTO_FOLLOW</tagopt>
        <mirror>false</mirror>
        <timeout>0</timeout>
        <relativeTargetDir></relativeTargetDir>
      </RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/release/TeamcenterDRM_2.6</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>true</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <includedRegions></includedRegions>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName>NextLabs Build Operator</gitConfigName>
    <gitConfigEmail>build-admin@nextlabs.com</gitConfigEmail>
    <skipTag>false</skipTag>
  </scm>
  <advancedAffinityChooser>false</advancedAffinityChooser>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders>
    <hudson.tasks.Shell>
      <command>export NLPROJECTROOT=${WORKSPACE}
export NLEXTERNALDIR=C:/P4/external

cd ${WORKSPACE}/ToNxlFile/main
source ./setEnv
./buildRelease</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer>
      <recipients>build-admin@nextlabs.com Chenwei.Low@nextlabs.com Jim.Jin@nextlabs.com Gavin.Chen@nextlabs.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>